
table{
    background-color: red;
    border: 2px solid;
    height: 50vh;
    width: 97vw;
}
thead{
    background-color: aqua;
    height: 9vh;
    border: 2px solid;
    border-collapse: collapse;
}
td{
    background-color: gray;
    height: 9vh;
    border: 2px solid;
    border-collapse: collapse;
}
  